body {
    font-family: 'Inter', sans-serif;
    background: #2f3e34;
    color: #e5e7eb;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background: #2f3e34;
    border-bottom: 1px solid rgba(255,255,255,0.08);
}

.navbar h2 {
    color: white;
}

/* Container */
.form-container {
    max-width: 700px;
    margin: 60px auto;
    padding: 40px;

    background: #3a4a3f;
    border-radius: 12px;
}

/* Inputs */
input, textarea, select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;

    border-radius: 8px;
    border: none;

    background: #2f3e34;
    color: white;
}

/* Button */
.submit-btn {
    padding: 12px;
    border: 1px solid #e5e7eb;
    background: transparent;
    color: white;
    border-radius: 8px;
}

.submit-btn:hover {
    background: white;
    color: black;
}
textarea {
    resize: none;
    height: 100px;
}